<div class="col-md-offset-1" id= <%= "follow_form_#{user.id}" %> >
<% if logged_in? && current_user.following?(user) %>
  <%= render 'unfollow', user: user %>
<% else %>
  <%= render 'follow', user: user %>
<% end %>
</div>
