<% if object&.errors&.any? %>
  <div class="col-md-4" id="error_explanation">
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
      <span class=""><%= "#{object.errors.count}つエラーがありマッスル" %></span>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
