<% if false %>
<li id="health_record-<%= health_record.id %>">
  <span class="weight"><%= health_record.weight %></span>
  <span class="timestamp">
    測定日 <%= time_ago_in_words(health_record.measured_at) %> .
  </span>
</li>

<% end %>
