@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$app-main-color: #f25a27;

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

body {
  font-family: sans-serif;
  background: #fafafa;
  user-select: none;
}

textarea {
  resize: vertical;
}

li, ol {
  list-style: none;
  padding: 0;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #000;
  &:hover {
    opacity: .6;
    text-decoration: none;
  }
  // クリックしてページ遷移しなかった時に出る下線を消す
  &:link {
    text-decoration: none;
  }
}


.jumbotron {
  background-image: url("/images/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 0;

  .home_message {

    h1 {
    color: $app-main-color;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 80px;
    opacity: .6;
    text-shadow: 2px 2px 3px #000;
    }
  }
  p {
    font-size: 14px;
  }
}

.row {
  margin: 0;
  margin-bottom: 60px;
}

/* application */

.main_contents {
  padding-top: 100px;
}
div.alert-success {
  background: $app-main-color;
  border: transparent;
  color: #000;
  font-size: 1.1em;
  font-weight: bold;
}
div#flash {
  border-radius: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  line-height: 32px;
  margin-bottom: 0;
  z-index: 100;
  > div {

  }
}

div#flash_filter {
  background: rgba(255, 255, 255, .1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 200;
}

/* header */

header {
  line-height: 60px;
  &.navbar_fix {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
}


.navbar {
  border-radius: 0px;
  margin-bottom: 0;
}

.glyphicon {
  font-size: 24px;
}

ul.dropdown-menu {
  position: fixed;
  top: 55px;
  left: 75%;
  right: 1%;
  border-radius: 10px;
  a {
    color: #666;
    font-size: 1.2em;
    padding: 15px 50px;
  }
}

.navbar-nav > li > .dropdown-menu {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.header_flex {
  display: flex;
  align-items: center;
  >div.header_logo {
    margin-right: auto;
    >#logo {
      font-size: 1.3em;
      color: $app-main-color;
      text-transform: uppercase;
      text-shadow: 2px 2px 3px #000;
      letter-spacing: 1px;
      font-weight: bold;
      &:hover {
        opacity: .8;
        text-decoration: none;
      }
    }
  }
  > nav {
    width: 40%;
    > ul  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
      > li.new_post_bg {
        display: flex;
        align-items: center;
        height: 60px;
        > a#new_post {
          border: 1px solid gray;
          border-radius: 50%;
          color: gray;
          font-size: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;


          > span {
            position: relative;
            top: -2px;
          }
        }
      }
      > li {
        > a.setting {
          border: 1px solid gray;
          border-radius: 50px;
          height: 30px;
          width: 30px;
          line-height: 30px;
          text-align: center;
          padding: 0;
        }
        > .nav_icon_bg {
          border: 1px solid #fff;
          border-radius: 50px;
          padding: 0;
          > .nav_icon {

            border-radius: 50%;
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
}

/* home */
.micropost {
  width: 53%;
  margin: 0 auto;
  background: #fff;
  border: 1px solid rgba(128,128,128,.1);
  .micropost_sticky {
    background: #fff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 60px;
    height: 50px;

    .micropost_back_btn  {
        margin-left: 5%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: rgba(242,90,39,.1);
          border-radius: 50%;
          transition: background-color 1s;
        }


        a {
          color: $app-main-color;
          font-size: 1.5em;
          height: 60%;
          width: 60%;
        }
    }
  }
}

.micropost_detail {
    width: 53%;
    margin: 0 auto;
  li {
    margin-bottom: 60px;
  }
  article {
    background: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-top: transparent;
    > a {
      &:hover {
        color: inherit;
      }
    }
    header {
      display: flex;
      padding: 20px;

      >div.micropost_profile_img {
        margin-right: 20px;
        height: 50px;
        width: 50px;

       img {
          border: 1px solid rgba(128,128,128,.4);
          border-radius: 50%;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }

      > div.micropost_relationship {
        margin-left: auto;
      }
    }

    div.micropost_main_img {
      margin-bottom: 20px;
    }
    div.micropost_content {
      padding: 20px;
    }
    div.micropost_footer {
      display: flex;
    }
    div.micropost_timestamp {
      font-size: 0.7em;
      opacity: .7;
      padding: 20px;
      margin-right: auto;
    }
    div.micropost_delete {
      padding: 20px;
    }
  }
}
/* users_show.html */
.user_profile_left {
  padding: 0;

  > div.profile_img {
    text-align: center;

    img {
      border: 1px solid rgba(128,128,128,.4);
      border-radius: 50%;
      object-fit: contain;
      margin-bottom: 20px;
      height: 150px;
      width: 150px;
    }
  }

  .status {

    > span {
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 60px;
    }

    > div {

      > div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        > span {

          &:nth-child(2) {
            font-size: 12px;
            opacity: 0.8;
          }
          > span {
            font-weight: bold;
          }
        }
      }
    }
  }
}


.user_profile_right {
  padding: 0;
  padding-left: 100px;

  > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    > div.user_profile_name {
      display: flex;
      align-items: center;

      h1 {
        font-size: 23px;
        font-weight: bold;
        line-height: 40px;
        margin: 0px;
        margin-right: 15px;
        padding: 0px;
      }
    }


  }

  > ul {
      margin-bottom: 30px;

    > li{
      padding-right: 10px;

      > span, a {
        > span {
          font-weight: bold;
        }
      }
    }
  }

  > div {
      > span {
        display: block;
        margin-bottom: 20px;

        &.signup_day {
          font-size: 0.8em;
          opacity: .6;
        }
      }
  }
}

div.profile_garaly {
  > ul.garaly_label {
    border-top: 1px solid rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    line-height: 60px;
    margin-bottom: 30px;
    a{
      margin-right: 60px;
      padding: 10px;

    }
  }

  > article {
    ol.microposts_garaly {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    >li {
      margin-bottom: 30px;
      > article {
        border: 1px solid rgba(0, 0, 0, .1);
        height: 350px;
        width: 350px;
        div.garaly_img {
          height: 100%;
          > img {
           object-fit: contain;
           height: 100%;
           width: 100%;
          }
         }
        }
      }
    }
  }
}

/* forms */

.form_frame {
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 32px 40px;

  h1 {
    font-size: 1.4em;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  p {
    font-size: 0.8em;
    margin-top: 20px;
  }

  .signup_btn {
    width: 100%;
  }
}

.login_frame {
  background: rgba(255,255,255, 1);
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 25px 0;

  > a {
    color: #0095f6;
  }
}

.login_frame_black {
  background: rgba(0,0,0, .1);
  border: 1px solid rgba(255, 255, 255, .1);
  color: rgba(255,255,255, .8);
}

.login_frame_white {
  background: rgba(255,255,255, .1);
  color: rgba(0,0,0, .8);
}



/* edit */

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: transparent;
  border-left: 3px solid $app-main-color;
  border-radius: 0px;
  color: $app-main-color;
  opacity: 1;
  font-weight: bold;
}

.nav-pills{
  padding-left: 0;
  padding-right: 0;

  > li {

    > a.edit_link {
      font-size: 1.3em;
      padding:15px 30px;
      width: 100%;

      &:hover{
        background: rgba(242,90,39,.1);
        color: $app-main-color;
        font-weight: bold;
        opacity: 1;
      }
    }



  }
}


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* new_micropost */
div#mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.4);
  z-index: 20;
}

div.muscle_post_frame {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  width: 45%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;


  div.muscle_post_field {
    height: 350px;
    margin-bottom: 20px;
    width: 100%;
    > textarea {
      border: 0px none;
      font-size: 1.5em;
      height: 100%;
      width: 100%;
      &:focus {
        outline: none;
      }
    }
  }
  div.picture > input {
    margin-bottom: 20px;
  }
  input.muscle_post_btn {
    width: 100%;
  }
}


/* relationship */
div.relationship {
  background: #fff;
  border: 1px solid rgba(128,128,128,.2);
  border-bottom: transparent;
  > div.relationship_sticky {
    background: #fff;
    position: sticky;
    top: 60px;
    > div.relationship_profile {
      display: flex;
      align-items: center;
      padding: 20px;
      position: sticky;
      top: 60px;
      > div.relationship_back_btn {
          color: $app-main-color;
          font-size: 1.5em;
          margin-right: 5%;
      }
      > div.relationship_profile_img {
          margin-right: 2%;
          height: 70px;
          width: 70px;

        > img {
          border: 1px solid rgba(128,128,128,.4);
          border-radius: 50%;
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      > div.relationship_profile_name {
        font-size: 1.3em;
        font-weight: bold;
      }
    }
    > ul.relationship_nav {

      > li {
        color: #666;
        font-weight: bold;
        text-align: center;
        width: 35%;
        &:last-child {
          width: 30%;
        }

        > a {
          margin-right: 0;
          &:hover {
            opacity: 1;
          }
          &:focus {
            background: #fff;
          }

          &.hover {
            background: rgba(242,90,39,.1);
            border-bottom: 1px solid rgba(242,90,39,.1);
            color: $app-main-color;
          }
          &.active {
            border-bottom: 2px solid $app-main-color;
            color: $app-main-color;
          }
        }
      }
    }
  }

  > div.relationship_users_frame {
    > ul.relationship_users {
      padding-left: 0;
      > li.relationship_user {
        display: flex;
        border-bottom: 1px solid rgba(128,128,128,.2);
        padding: 15px;

        > div.relationship_user_left {
          margin-right: 2%;
          height: 50px;
          width: 50px;

          > a > img {
            border: 1px solid rgba(128,128,128,.4);
            border-radius: 50%;
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
        > div.relationship_user_right {
          width: 100%;
          > div.relationship_user_right_header {
            display: flex;
            > div.relationship_user_name {
              font-size: 1.1em;
              font-weight: bold;
              margin-right: auto;
            }
            > div.relationship_make_btn {
              display: flex;
              justify-content: space-between;
              width: 25%;

              > div.relationship_follow_btn {
                display: inline-block;
                width: 45%;
              }
              > div.relationship_teacher_btn {
                width: 45%;
              }
              > div.relationship_not_student_btn {
                width: 45%;
              }
              input[type="submit"] {
                width: 100%;
              }
            }
          }
        }
      }
    }
    > div.relationship_nothing {
      font-size: 1.3em;
      font-weight: bold;
      text-align: center;
      height: 500px;
      padding: 100px 20px;
    }
  }
}

/* health_record */
div.health_records_form {
  background: #fff;
  border: 1px solid #666;
  border-radius: 15px;
  padding: 30px;
  h1 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 60px;
  }

  div.form-group {
    span {
      font-size: 0.6em;
    }

    div.has-error:not(:last-child) {
      width: 100%;

      > input {
        width: 35%;
      }
      > span {
        position: absolute;
        top: 30%;
        left: 50%;
      }
    }
    input {
      display: inline-block;
      width: 35%;
    }
    input.datetime {
      width: 100%;
    }
    div.health_record_input {
      display: flex;
      position: relative;

      span.health_records_unit {
        font-weight: bold;
        position: absolute;
        top: 45%;
        left: 40%;
      }
    }
  }
  input[type="submit"] {
    width: 100%;
  }
}

div.health_records_table {
  padding-right: 0;
  height: 600px;
  overflow: scroll;
  table{
    border-collapse: separate;
    border-spacing: 0;

    width: 100%;

    tr {

      &:first-child {
        border-bottom: 1px solid #000;
      }

      &:nth-child(odd){
        background-color: #eee
      }

      &:last-child td:first-child {
        border-radius: 0 0 0 5px;
      }

      &:last-child td:last-child {
        border-radius: 0 0 5px 0;
      }

      > th {
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px #000;
        background: $app-main-color;
        border-left: 1px solid #666;
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
        padding: 10px 0;
        position: sticky;
        top: 0px;

        &:first-child{
          border-radius: 5px 0 0 0;
        }

        &:last-child{
          border-radius: 0 5px 0 0;
          border-right: 1px solid #666;
        }
      }

      > td{
        text-align: center;
        border-left: 1px solid #666;
        border-bottom: 1px solid #666;
        border-top:none;
        box-shadow: 0px -3px 5px 1px #eee inset;
        padding: 10px 0;

        &:last-child{
          border-right: 1px solid #666;
        }
      }
    }
  }
}
